@use "modulo";
@use "mixins";
@use "media-queries";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.comment-container {
    background-color: modulo.$color-secundario;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    .comment-box {
        background-color: modulo.$input-background;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        //align-items: center;

        form {
            display: flex;
            flex-direction: column;

            textarea {
                background-color: modulo.$input-background;
                border: none;
                outline: none;
                padding: 1.5rem;
                resize: none;
                width: auto;
                height: auto;

                &::placeholder {
                    font-style: italic;
                    font-size: 16px;
                    opacity: 1;
                }
            }

            button {
                border: none;
                border-radius: 30px;
                margin: 1rem;
                display: inline-block;
                padding: 0.8rem;
                background-color: modulo.$iconos;
                color: modulo.$color-secundario;
                cursor: pointer;
                align-self: end;

                &:hover {
                    background-color: modulo.$color-primario;
                    color: modulo.$color-secundario;
                }
            }
        }
    }

    hr {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        width: 100%;
        color: modulo.$iconos;
        border-bottom: 2px solid;
    }

    .comment-list {
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 25px;
            color: modulo.$color-primario;
            padding-bottom: 1.8rem;
        }

        .comments {
            padding: 0.5rem;

            .comment-line {
                display: flex;
                background-color: modulo.$input-background;
                margin-bottom: 1rem;
                padding: 0.7rem;
                border-radius: 8px;
                width: 100%;

                img {
                    width: 75px;
                    height: 75px;
                    object-fit: cover;
                    border-radius: 50%;
                    justify-self: baseline;
                    margin-right: 1rem;
                }

                .content-properties {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    justify-self: center;
                    margin-right: 1rem;

                    .data {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        a {
                            text-decoration: none;

                            .name-account {
                                font-weight: bold;
                                font-size: 1.2rem;
                                color: modulo.$color-primario;

                                &:hover {
                                    color: modulo.$iconos;
                                }
                            }
                        }

                        .time {
                            font-weight: 500;
                            font-size: 14px;
                            color: modulo.$color-texto;
                        }
                    }

                    .content {
                        p {
                            color: modulo.$color-texto;
                            font-weight: 600;
                        }
                    }
                }

                .post-options {
                    margin-left: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    position: relative;

                    i {
                        color: modulo.$iconos;
                        font-size: 1.6rem;
                    }

                    .elipsis-menu {
                        z-index: 100;
                        display: none;
                        position: absolute;
                        top: 25px;

                        button,
                        a {
                            background-color: modulo.$color-texto;
                            color: modulo.$color-secundario;
                            border-radius: 0px;
                            padding: 0.6rem;
                            font-size: 15px;
                            font-weight: 600;

                            transition: background-color 0.2s ease-in-out;

                            &:hover {
                                background-color: modulo.$iconos;
                            }
                        }

                        &.show {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}
