@use "modulo";
@use "media-queries";

@mixin sidebar-enlace {
    color: modulo.$color-secundario;
    padding-left: 40px;
    text-decoration: none;
}

@mixin botones-menu {
    background: none;
    border: none;
}

@mixin iconos-panel {
    font-size: 1.8rem;
    color: modulo.$iconos;
}

@mixin titulo-vistas {
    font-family: modulo.$tipografia-foodies;
    font-weight: 800;
    font-size: 20px;
    color: modulo.$color-titulo-formularios;

    @include media-queries.mobile {
        font-size: 16px;
    }
}

@mixin botones-formularios {
    border: none;
    background-color: modulo.$color-botones;
    font-family: modulo.$tipografia-foodies;
    font-weight: 800;
    font-size: 18px;
    padding: 0.8rem;
    border-radius: 10px;
}

@mixin base-contenedor {
    background-color: modulo.$color-secundario;
    padding: 1rem;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1rem;
}

@mixin carga-imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    min-height: 170px;
    background-color: modulo.$input-background;
    padding: 2rem;
    cursor: pointer;

    @include media-queries.mobile {
        width: 160px;
        height: 100px;
    }

    i {
        font-size: 2.7rem;
        cursor: pointer;
    }

    span {
        text-align: center;
        font-size: 15px;

        &:hover {
            color: modulo.$iconos;
        }
    }

    &:hover {
        background-color: modulo.$color-indice;
    }
}

@mixin desplegable-container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: end;

    i {
        color: modulo.$iconos;
        font-size: 1.2rem;
    }

    .elipsis-menu {
        button,
        a {
            background-color: modulo.$color-texto;
            color: modulo.$color-secundario;
            border-radius: 0px;
            padding: 0.6rem;
            font-size: 15px;
            font-weight: 600;

            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: modulo.$iconos;
            }
        }
    }
}
