@use "modulo";
@use "media-queries";

@mixin sidebar-enlace {
    color: modulo.$color-secundario;
    padding-left: 40px;
    text-decoration: none;
}

@mixin botones-menu {
    background: none;
    border: none;
}

@mixin iconos-panel {
    font-size: 1.8rem;
    color: modulo.$iconos;
}

@mixin titulo-vistas {
    font-family: modulo.$tipografia-foodies;
    font-weight: 800;
    font-size: 20px;
    color: modulo.$color-titulo-formularios;

    @include media-queries.mobile {
        font-size: 16px;
    }
}
