// Paleta de colores de la web
$color-primario: #2c3143;
$color-secundario: #fcfef3;
$color-botones: #ffb136;
$background: #e9e8df;
$iconos: #f27d16;
$color-texto: #4e515a;

// Inicio de sesión 
$color-login-titulos: #FFFFFF;