@use "modulo";
@use "mixins";
@use "media-queries";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.profile-styles-users {
    // Estilos del banner del perfil
    .header-profile {
        background-color: #fae4c6;
        width: 90%;
        height: 270px;
        margin-top: 1rem;
        border-radius: 30px;
        border: 10px modulo.$color-secundario solid;
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        // Configuración de la imagen del fondo
        background-size: contain;
        // Antigua configuración
        // background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include media-queries.mobile {
            height: 350px;
            border-radius: 20px;
            //padding-left: 15px;
            justify-content: center;
        }

        .header-profile-cover-name {
            display: flex;
            flex-direction: column;
            //justify-content: space-between;

            .upload-cover {
                position: relative;

                @include media-queries.mobile {
                    right: 10px;
                }

                i {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    font-size: 1.2rem;
                    background-color: modulo.$input-background;
                    border-radius: 50%;
                    padding: 10px;
                    z-index: 10;
                    color: modulo.$color-fondo-formulario;
                    cursor: pointer;
                    transition: background-color 0.3s ease-in-out,
                        color 0.2s ease-in-out;

                    &:hover {
                        background-color: modulo.$iconos;
                        color: modulo.$color-secundario;
                    }
                }
            }

            .mobile-version {
                display: none;

                @include media-queries.mobile {
                    display: flex;
                    align-self: center;
                    width: 85%;
                    height: 65%;

                    //left: 30%;
                    //max-height: 260px;
                }
            }

            .nombre-header-profile {
                //align-self: flex-end;
                //justify-self: end;
                margin-top: auto;
                padding: 1rem;
                background-color: modulo.$color-botones;
                border-radius: 20px;
                border: 10px modulo.$color-secundario solid;
                margin-bottom: -10px;
                margin-left: -10px;

                @include media-queries.mobile {
                    padding: 0.5rem 1rem;
                    margin-left: 0;
                    align-self: center;
                    width: 100%;
                    margin-bottom: 10px;
                }

                h2 {
                    font-size: 32px;

                    @include media-queries.mobile {
                        font-size: 25px;
                        text-align: center;
                    }
                }
            }
        }

        .picture-header-profile {
            background-color: modulo.$iconos;
            width: 230px;
            max-height: 230px;
            border-radius: 50%;
            margin: 5px 30px 5px 10px;
            overflow: hidden;
            position: relative;
            object-fit: cover;

            @include media-queries.mobile {
                display: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .upload-profile {
                position: absolute;
                bottom: 10px;
                left: 40%;
                cursor: pointer;

                i {
                    font-size: 1.2rem;
                    background-color: modulo.$input-background;
                    border-radius: 50%;
                    padding: 10px;
                    z-index: 10;
                    color: modulo.$color-fondo-formulario;
                    transition: background-color 0.3s ease-in-out,
                        color 0.2s ease-in-out;

                    &:hover {
                        background-color: modulo.$color-primario;
                        color: modulo.$color-secundario;
                    }
                }
            }
        }
    }

    // Cuerpo perfil
    .estructura-perfil {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 68% 31%;
        grid-template-rows: auto auto;
        margin-bottom: 1rem;
        width: 90%;

        @include media-queries.mobile {
            grid-template-columns: 1fr;
        }

        .contenidos {
            margin-top: 1rem;
            width: 100%;
            order: 1;

            @include media-queries.mobile {
                order: 2;
            }
        }

        .descripcion-user {
            margin-top: 1rem;
            background-color: modulo.$color-secundario;
            border-radius: 20px;
            align-self: start;
            display: flex;
            flex-direction: column;
            padding: 1.5rem 1rem;
            align-items: center;
            margin-left: 1rem;
            order: 2;

            @include media-queries.mobile {
                margin-left: 0;
                order: 1;
            }

            .descripcion-foodie-type {
                font-size: 28px;
                color: modulo.$iconos;
                margin-bottom: 1rem;
                text-align: center;
            }

            .numero-reviews {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;

                .numero {
                    background-color: modulo.$color-botones;
                    border-radius: 50%;
                    padding: 0.5rem 1.1rem;

                    p {
                        font-weight: bold;
                        font-size: 30px;
                    }
                }

                p {
                    font-size: 20px;
                }
            }

            .localizacion-usuario {
                display: flex;
                align-items: end;
                margin-bottom: 1rem;
                justify-content: center;
                text-align: center;

                @include media-queries.tablet {
                    align-items:baseline;
                }

                @include media-queries.mobile {
                    align-items: center;
                }

                i {
                    color: modulo.$iconos;
                    font-size: 25px;
                    margin-right: 0.2rem;
                }

                p {
                    font-weight: bold;
                    font-size: 20px;
                }
            }

            .edad-descripcion {
                font-size: 20px;
                margin-bottom: 1rem;
            }

            .texto-descripcion {
                background-color: modulo.$input-background;
                width: 100%;
                border-radius: 10px;
                padding: 1rem;
                text-align: center;
                font-weight: bold;
            }

            button {
                @include mixins.botones-formularios;
                margin-top: 1rem;
                transition: color 0.3s ease-in-out,
                    background-color 0.3s ease-in-out;

                &:hover {
                    background-color: modulo.$iconos;
                    color: modulo.$color-secundario;
                }
            }
        }

        .resturante-profile-description {
            display: flex;
            flex-direction: column;
            justify-content: center;

            // Campos de restaurante
            .restaurant-type {
                color: modulo.$iconos;
                font-size: 30px;
                text-align: center;
                margin-bottom: 0.7rem;
                padding: 0.6rem;
            }

            .horario-apertura {
                margin-bottom: 1rem;
            }

            .dias-apertura {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                margin: 0rem 0.2rem 1rem 0.2rem;
            }

            .direccion-restaurante {
                font-size: 1.2rem;
                text-align: center;
                font-weight: 500;
                color: modulo.$color-fondo-formulario;
                margin-bottom: 1rem;

                .titulo {
                    color: black;
                    font-size: 20px;
                    font-weight: bold;
                }

                a {
                    text-decoration: none;
                    color: modulo.$color-primario;

                    &:hover {
                        color: modulo.$iconos;
                    }
                }
            }

            .numero-telefonico {
                font-size: 1.2rem;
                font-weight: bold;

                a {
                    text-decoration: none;
                    color: modulo.$color-primario;

                    &:hover {
                        color: modulo.$iconos;
                    }
                }
            }

            .website-link {
                padding: 1rem;
                color: modulo.$color-secundario;
                background-color: modulo.$iconos;
                border-radius: 30px;
                text-decoration: none;
                font-weight: 700;
                transition: color 0.5s ease-out;
                margin-top: 1rem;
                margin-bottom: 1rem;

                &:hover {
                    background-color: modulo.$color-botones;
                    color: modulo.$color-primario;
                }
            }
        }
    }
}

// .profile-styles-users .header-profile .header-profile-cover-name {
//   display: flex;
//   flex-direction: column;
//   justify-content: end;
// }
