@use "modulo";
@use "mixins";
@use "media-queries";
@import "@fortawesome/fontawesome-free/css/all.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: modulo.$tipografia-foodies;
}

// Estilo general de los componentes
.componentes-principales {
    display: flex;
    box-sizing: border-box;
    position: relative;

    @include media-queries.tablet {
        flex-direction: column;
    }

    @include media-queries.mobile {
        flex-direction: column;
    }

    // Estilos menú hamburguesa
    .menu-hamburguesa {
        display: flex;
        background-color: modulo.$color-primario;
        height: 10vh;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem 0.5rem 1.5rem;

        @include media-queries.tablet {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1100;
        }

        @include media-queries.mobile {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1100;
        }

        @include media-queries.pantalla-grande {
            display: none;
        }

        .menu-hamburguesa-ayuda {
            #boton-ajustes {
                margin-right: 0.8rem;
            }
        }

        .btn-menu {
            @include mixins.botones-menu;
        }

        #boton-hamburguesa,
        #hamburguesa-ajustes,
        #hamburguesa-logout {
            @include mixins.iconos-panel;
            transition: color 0.6s ease-in-out;

            &:hover {
                color: modulo.$color-secundario;
            }
        }
    }

    // Estilos del sidebar
    .sidebar {
        background-color: modulo.$color-primario;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 22%;
        height: 100vh;
        //font-family: "Nunito";
        font-weight: 600;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        padding-bottom: 1rem;
        z-index: 1000;
        position: fixed;

        // queries del sidebar
        @include media-queries.pantalla-grande {
            transform: translate(0);
        }

        @include media-queries.mobile {
            top: 0;
            height: 92vh;
            position: absolute;
        }

        @include media-queries.tablet {
            top: 0;
            height: 92vh;
            position: absolute;
        }

        .sidebar-contenidos {
            .logo-foodies {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 1rem 0 1rem;
                padding: 0.8rem 0.8rem 0 0.8rem;

                @include media-queries.tablet {
                    margin: 0;
                    padding: 0;
                }

                .img-logo-foodies {
                    width: 75%;
                    height: auto;

                    @include media-queries.tablet {
                        margin: 0;
                        width: 50%;
                        height: auto;
                        display: flex;
                        justify-self: center;
                    }
                }
            }
            ul {
                list-style-type: none;
                padding-top: 0.5rem;

                li {
                    padding-bottom: 0.8rem;
                    margin-bottom: 0.2rem;
                    overflow: hidden;
                    transition: background-color 0.5s ease-in-out,
                        color 0.5s ease-in-out, transform 0.5s ease-in-out;

                    @include media-queries.tablet {
                        padding-bottom: 0.8rem;
                        margin-bottom: 0.2rem;
                    }

                    a {
                        @include mixins.sidebar-enlace;
                        width: 80%;
                        // Los <a> por defecto traen un display de tipo inline
                        display: block;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        border-top-right-radius: 50px;
                        border-bottom-right-radius: 50px;
                        &:hover,
                        &.activo {
                            background-color: modulo.$color-botones;
                            color: modulo.$color-primario;
                            font-weight: bold;
                        }

                        @include media-queries.tablet {
                            padding-top: 0.8rem;
                            padding-bottom: 0.8rem;
                        }
                    }
                }
            }
        }

        .sidebar-parametros {
            ul {
                list-style-type: none;
                padding-top: 1rem;
                li {
                    padding-bottom: 1rem;
                    a {
                        @include mixins.sidebar-enlace;
                        &:hover {
                            color: modulo.$iconos;
                            font-weight: 500;
                            text-decoration: underline;
                            text-decoration-color: modulo.$iconos;
                        }
                    }
                }
            }
        }
    }

    .sidebar.visible {
        width: 50%;
        transform: translate(0);
        top: 10vh;
        position: fixed;
    }

    // Estilos del main
    main {
        background-color: modulo.$background;
        width: 78%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 22%;

        @include media-queries.tablet {
            margin-left: 0;
            margin-top: 10vh;
            width: 100%;
        }

        @include media-queries.mobile {
            margin-left: 0;
            margin-top: 10vh;
            width: 100%;
        }

        // Panel de control
        .panel-de-control {
            display: flex;
            justify-content: center;
            width: 90%;

            .panel-control-ayuda {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                height: 80px;
                background-color: modulo.$color-primario;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;

                .btn-panel {
                    @include mixins.botones-menu;
                }

                #panel-ajustes,
                #panel-logout {
                    font-size: 28px;
                    color: modulo.$color-secundario;
                    padding-right: 1.2rem;

                    &:hover {
                        color: modulo.$iconos;
                    }
                }

                #panel-ajustes {
                    margin-top: 1.6rem;
                }
            }

            @include media-queries.tablet {
                display: none;
            }

            @include media-queries.mobile {
                display: none;
            }
        }

        .header-profile {
            background-color: #fae4c6;
            width: 90%;
            height: 270px;
            margin-top: 1rem;
            border-radius: 30px;
            border: 10px modulo.$color-secundario solid;
            display: flex;
            justify-content: space-between;

            box-sizing: border-box;
            overflow: hidden;
            // Configuración de la imagen del fondo
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            //position: relative;

            @include media-queries.mobile {
                height: 350px;
                border-radius: 20px;
                //padding-left: 15px;
                justify-content: center;
            }

            .header-profile-cover-name {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .upload-cover {
                    position: relative;

                    @include media-queries.mobile {
                        right: 10px;
                    }

                    i {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        font-size: 1.2rem;
                        background-color: modulo.$input-background;
                        border-radius: 50%;
                        padding: 10px;
                        z-index: 10;
                        color: modulo.$color-fondo-formulario;
                        cursor: pointer;
                        transition: background-color 0.3s ease-in-out,
                            color 0.2s ease-in-out;

                        &:hover {
                            background-color: modulo.$iconos;
                            color: modulo.$color-secundario;
                        }
                    }
                }

                .mobile-version {
                    display: none;

                    @include media-queries.mobile {
                        display: flex;
                        //left: 30%;
                        max-height: 240px;
                    }
                }

                .nombre-header-profile {
                    align-self: flex-end;
                    padding: 1rem;
                    background-color: modulo.$color-botones;
                    border-radius: 20px;
                    border: 10px modulo.$color-secundario solid;
                    margin-bottom: -10px;
                    margin-left: -10px;

                    @include media-queries.mobile {
                        padding: 0.5rem 1rem;
                        margin-left: 0;
                        align-self: center;
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    h2 {
                        font-size: 32px;

                        @include media-queries.mobile {
                            font-size: 25px;
                            text-align: center;
                        }
                    }
                }
            }

            .picture-header-profile {
                background-color: modulo.$iconos;
                //align-self: center;
                height: auto;
                width: 255px;
                border-radius: 50%;
                //width: 100px;
                //padding: 7.5rem 0.5rem;
                margin: 5px 10px;
                overflow: hidden;
                // display: flex;
                // flex-direction: column;
                // justify-content: center;
                position: relative;

                @include media-queries.mobile {
                    display: none;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: cover;
                }

                .upload-profile {
                    position: absolute;
                    bottom: 10px;
                    left: 40%;
                    cursor: pointer;

                    i {
                        font-size: 1.2rem;
                        background-color: modulo.$input-background;
                        border-radius: 50%;
                        padding: 10px;
                        z-index: 10;
                        color: modulo.$color-fondo-formulario;
                        transition: background-color 0.3s ease-in-out,
                            color 0.2s ease-in-out;

                        &:hover {
                            background-color: modulo.$color-primario;
                            color: modulo.$color-secundario;
                        }
                    }
                }
            }
        }

        .estructura-perfil {
            box-sizing: border-box;
            display: grid;
            grid-template-columns: 68% 31%;
            width: 90%;
            gap: 1rem;

            @include media-queries.mobile {
                grid-template-columns: 1fr;
            }

            .contenidos {
                margin-top: 1rem;
                width: 100%;
                height: auto;
                background-color: red;
                font-size: 60px;
                order: 1;

                 @include media-queries.mobile {
                    order: 2;
                }
            }

            .descripcion-user {
                margin-top: 1rem;
                background-color: modulo.$color-secundario;
                border-radius: 20px;
                height: auto;
                display: flex;
                flex-direction: column;
                padding: 1.5rem 1rem;
                align-items: center;
                order: 2;

                @include media-queries.mobile {
                    order: 1;
                }

                .descripcion-foodie-type {
                    font-size: 28px;
                    color: modulo.$iconos;
                    margin-bottom: 1rem;
                }

                .numero-reviews {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1rem;

                    .numero {
                        background-color: modulo.$color-botones;
                        border-radius: 50%;
                        padding: 0.5rem 1.1rem;

                        p {
                            font-weight: bold;
                            font-size: 30px;
                        }
                    }

                    p {
                        font-size: 20px;
                    }
                }

                .localizacion-usuario {
                    display: flex;
                    align-items: end;
                    margin-bottom: 1rem;
                    
                    i {
                        color: modulo.$iconos; 
                        font-size: 25px;
                        margin-right: 0.2rem;
                    }

                    p {
                        font-weight: bold;
                        font-size: 20px;
                    }
                }

                .edad-descripcion {
                    font-size: 20px;
                    margin-bottom: 1rem;
                }

                .texto-descripcion {
                    background-color: modulo.$input-background;
                    width: 100%;
                    border-radius: 10px;
                    padding: 1rem;
                    text-align: center;
                    font-weight: bold;
                }

                button {
                    @include mixins.botones-formularios;
                    margin-top: 1rem;
                    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

                    &:hover {
                        background-color: modulo.$iconos;
                        color: modulo.$color-secundario;
                    }
                }
            }

            .resturante-profile-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                // Campos de restaurante 
                .restaurant-type {
                    color: modulo.$iconos; 
                    font-size: 30px;
                    text-align: center;
                    margin-bottom: 0.7rem;
                    padding: 0.6rem;
                }

                .horario-apertura {
                    margin-bottom: 1rem;
                }

                .dias-apertura {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin: 0rem 0.2rem 1rem 0.2rem;
                }

                .direccion-restaurante {
                    font-size: 1.2rem;
                    text-align: center;
                    font-weight: 500;
                    color: modulo.$color-fondo-formulario;
                    margin-bottom: 1rem;

                    .titulo {
                        color: black;
                        font-size: 20px;
                        font-weight: bold;
                    }

                    a {
                        text-decoration: none;
                        color: modulo.$color-primario;

                         &:hover {
                            color: modulo.$iconos;
                        }

                    }
                }

                .numero-telefonico {
                    font-size: 1.2rem;
                    font-weight: bold;

                    a {
                        text-decoration: none;
                        color: modulo.$color-primario;

                        &:hover {
                            color: modulo.$iconos;
                        }
                    }
                }

                .website-link {
                    padding: 1rem;
                    color: modulo.$color-secundario;
                    background-color: modulo.$iconos;
                    border-radius: 30px;
                    text-decoration: none;
                    font-weight: 700;
                    transition: color 0.5s ease-out;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    
                    &:hover {
                        background-color: modulo.$color-botones;
                        color: modulo.$color-primario;
                    }
                }

            }
        }
    }
}

// Estilos de Login y Register
.layout-login-register {
    background-image: url(/public/images/background_patron_foodies.png);
    background-repeat: repeat;
    background-size: 500px 500px;

    .layout-inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(252, 254, 243, 0.7);
        min-height: 100vh;
        font-family: "Nunito", "Arial";

        header {
            height: 15vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include media-queries.tablet {
                min-height: auto;
            }

            @include media-queries.mobile {
                min-height: auto;
            }

            .image-logo {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100px;
                width: 170px;

                img {
                    width: 100%;
                }

                .especificacion {
                    color: modulo.$iconos;
                    font-weight: 800;
                    font-size: 13px;
                    width: 100%;
                    padding-left: 3.5rem;

                    margin-top: -10px;
                }
            }
        }

        .background-section {
            background-color: modulo.$color-primario;
            height: 73vh;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 2rem 1rem;

            @include media-queries.tablet {
                flex-direction: column;
                align-items: center;
                height: auto;
            }

            @include media-queries.mobile {
                flex-direction: column;
                align-items: center;
                height: auto;
            }

            .fondo-formulario {
                background-color: modulo.$color-fondo-formulario;
                width: 22%;
                border-radius: 30px;
                display: flex;
                align-items: end;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                margin-right: -40px;
                padding: 1.5rem;

                @include media-queries.tablet {
                    background-color: transparent;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin: 0;
                    padding: 0rem 0.8rem 0.8rem 0.8rem;
                    width: 55%;
                }

                @include media-queries.mobile {
                    background-color: transparent;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin: 0;
                    padding: 0rem 0.8rem 0.8rem 0.8rem;
                    width: 55%;
                }

                .titulo-bienvenida h3 {
                    font-size: 22px;
                    width: 40%;
                    color: modulo.$color-secundario;

                    @include media-queries.tablet {
                        width: 100%;
                    }

                    @include media-queries.mobile {
                        padding: 0;
                        width: 100%;
                    }
                }
            }

            .contenedor-formulario {
                background-image: url(/public/images/Fondos-formularios-fd/Fondo_formularios_1.png);
                background-size: 400px 400px;
                width: 22%;
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1.5rem 2rem;

                @include media-queries.tablet {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    width: 50%;
                }

                @include media-queries.mobile {
                    flex-direction: column;
                    align-items: center;
                    align-items: center;
                    text-align: center;
                    width: 70%;
                }

                .titulo-fondo-formulario {
                    font-weight: 800;
                    font-size: 28px;
                    color: modulo.$iconos;
                }

                .formulario-lr {
                    width: 100%;
                    .formulario-login-users {
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 0.5rem;

                        label {
                            font-weight: bolder;
                            color: modulo.$color-texto;
                            margin-bottom: 0.3rem;
                            text-align: start;
                        }

                        input {
                            border: 0;
                            border-radius: 5px;
                            background-color: modulo.$input-background;
                            width: 100%;
                            padding: 0.5rem;
                            height: 2rem;
                            width: 100%;
                        }
                    }

                    .button-formulario {
                        margin-top: 1rem;
                        display: flex;
                        justify-self: center;
                        @include mixins.botones-formularios;
                    }
                }
            }

            // Configuraciones para los logins
            .contenedor-login {
                padding-top: 2rem;
                padding-bottom: 2rem;

                @include media-queries.tablet {
                    padding-top: 3rem;
                    padding-bottom: 3rem;
                }

                @include media-queries.mobile {
                    padding-top: 6rem;
                    padding-bottom: 6rem;
                }
            }
        }

        footer {
            height: 12vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .redireccion-restaurantes {
                p {
                    font-size: 1rem;
                }

                .enlace-restaurantes {
                    text-decoration: none;
                    color: modulo.$iconos;
                    font-weight: 800;

                    &:hover {
                        text-decoration: underline modulo.$iconos 2px;
                    }
                }
            }
        }
    }
}

// Diseño Landing

.landing-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    background-color: modulo.$background;
    font-family: modulo.$tipografia-foodies;
    position: relative;
    overflow-x: hidden;

    .landing-bar {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: modulo.$color-primario;
        width: 100%;
        padding: 0.5rem 6rem;

        @include media-queries.tablet {
            padding: 0.5rem 2rem;
        }

        @include media-queries.mobile {
            padding: 0.5rem 1rem;
        }

        .landing-logo-bar {
            a {
                img {
                    height: 80px;
                }
            }
        }
        .landing-texto-bar {
            box-sizing: border-box;

            @include media-queries.mobile {
                display: none;
            }

            a {
                text-decoration: none;
                font-weight: 700;
                transition: color 0.5s ease-in-out;

                @include media-queries.tablet {
                    font-size: 14px;
                }
            }

            .inicio-sesion {
                margin-right: 1.2rem;
                color: modulo.$color-secundario;

                &:hover {
                    color: modulo.$iconos;
                }
            }

            .registro-negocio {
                @include mixins.botones-formularios;
                text-decoration: none;
                color: modulo.$color-primario;

                @include media-queries.tablet {
                    font-size: 15px;
                }
                @include media-queries.mobile {
                    padding: 0.8rem;
                    font-size: 14px;
                }

                &:hover {
                    background-color: modulo.$iconos;
                    color: modulo.$color-secundario;
                }
            }
        }

        .menu-hamburguesa-landing {
            display: none;

            button {
                all: unset;
                cursor: pointer;
            }

            // position: absolute // para el contenedor que sale con las opciones justo desde la derecha hasta ocupar toda la pantalla

            #hamburguesa-icon-landing {
                font-size: 35px;
                color: modulo.$color-botones;
                background-color: none;
                background: none;
            }

            @include media-queries.mobile {
                display: block;
            }
        }
    }

    // Estilos barra lateral del landing
    .menu-emergente-landing {
        display: none;

        @include media-queries.mobile {
            display: flex;
            width: 70%;
            height: 100vh;
            flex-direction: column;
            justify-self: flex-end;
            align-items: end;
            background-color: rgba(252, 254, 243, 0.95);
            padding: 1rem;
            position: absolute;
            z-index: 1000;
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;

            #boton-cerrar-landing {
                all: unset;
                cursor: pointer;

                i {
                    color: modulo.$color-primario;
                    font-size: 25px;
                }
            }

            .opciones-menu-landing {
                margin-top: 1.5rem;
                padding-left: 0.5rem;
                align-self: flex-start;
                list-style: none;

                .apartados-landing {
                    margin: 1rem;
                    font-weight: 600;

                    a {
                        text-decoration: none;
                        font-size: 1.2rem;
                        color: modulo.$color-texto;

                        &:hover {
                            color: modulo.$iconos;
                        }
                    }
                }
            }
        }
    }

    .menu-emergente-landing.visible {
        transform: translateX(0);
    }

    .menu-emergente-landing.oculto {
        transform: translateX(100%);
    }

    .landing-main {
        display: flex;
        flex-direction: row;
        padding: 0rem 2rem;

        @include media-queries.tablet {
            flex-direction: column;
            padding: 0rem 2rem;
            width: 100%;
        }

        .texto-main {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 3rem;

            @include media-queries.tablet {
                width: 100%;
                padding-top: 2rem;
            }

            .slogan-main {
                font-family: "Quicksand";
                font-size: 100px;
                font-weight: bold;
                //-webkit-text-stroke: 1px modulo.$iconos;
                width: 80%;
                color: modulo.$color-primario;

                @include media-queries.tablet {
                    font-size: 60px;
                    width: 100%;
                    text-align: center;
                }

                @include media-queries.mobile {
                    padding: 0.5rem 1rem;
                }

                .enfasis {
                    font-family: "Courgette";
                    color: modulo.$iconos;
                }
            }

            .description-main {
                font-size: 18px;
                width: 80%;
                font-weight: 500;
                color: modulo.$color-primario;
                font-family: "Quicksand";

                @include media-queries.tablet {
                    width: 100%;
                    text-align: center;
                }

                @include media-queries.mobile {
                    padding: 0.5rem 1rem;
                    text-align: center;
                }
            }

            .boton-main {
                @include mixins.botones-formularios;
                text-decoration: none;
                color: modulo.$color-primario;
                align-self: center;
                margin-top: 2rem;
                width: 200px;
                text-align: center;
                border-radius: 30px;
                transition: color 0.5s ease-in-out;

                &:hover {
                    background-color: modulo.$iconos;
                    color: modulo.$color-secundario;
                }
            }
        }
        .ilustracion-main {
            width: 50%;
            display: flex;
            align-items: center;

            @include media-queries.tablet {
                width: 100%;
                text-align: center;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    .landing-footer {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 2rem 2rem;
        text-align: center;
        background-color: modulo.$color-primario;

        div {
            p {
                color: modulo.$color-secundario;
                font-size: 15px;

                a {
                    text-decoration: none;
                    color: modulo.$color-secundario;

                    &:hover {
                        color: modulo.$color-botones;
                    }
                }
            }
        }
    }
}
