@use "modulo";
@use "mixins";
@use "media-queries";
@import "@fortawesome/fontawesome-free/css/all.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Estilo general de los componentes
.componentes-principales {
    display: flex;
    box-sizing: border-box;
    position: relative;

    @include media-queries.tablet {
        flex-direction: column;
    }

    @include media-queries.mobile {
        flex-direction: column;
    }

    // Estilos menú hamburguesa
    .menu-hamburguesa {
        display: flex;
        background-color: modulo.$color-primario;
        height: 10vh;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem 0.5rem 1.5rem;

        @include media-queries.tablet {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1100;
        }

        @include media-queries.mobile {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1100;
        }

        @include media-queries.pantalla-grande {
            display: none;
        }

        .menu-hamburguesa-ayuda {
            #boton-ajustes {
                margin-right: 0.8rem;
            }
        }

        .btn-menu {
            @include mixins.botones-menu;
        }

        #boton-hamburguesa,
        #hamburguesa-ajustes,
        #hamburguesa-logout {
            @include mixins.iconos-panel;
            transition: color 0.6s ease-in-out;

            &:hover {
                color: modulo.$color-secundario;
            }
        }
    }

    // Estilos del sidebar
    .sidebar {
        background-color: modulo.$color-primario;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 22%;
        height: 100vh;
        font-family: "Nunito";
        font-weight: 600;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        padding-bottom: 1rem;
        z-index: 1000;
        position: fixed;

        // queries del sidebar
        @include media-queries.pantalla-grande {
            transform: translate(0);
        }

        @include media-queries.mobile {
            top: 0;
            height: 92vh;
            position: absolute;
        }

        @include media-queries.tablet {
            top: 0;
            height: 92vh;
            position: absolute;
        }

        .sidebar-contenidos {
            .logo-foodies {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 1rem 0 1rem;
                padding: 0.8rem 0.8rem 0 0.8rem;

                @include media-queries.tablet {
                    margin: 0;
                    padding: 0;
                }

                .img-logo-foodies {
                    width: 75%;
                    height: auto;

                    @include media-queries.tablet {
                        margin: 0;
                        width: 50%;
                        height: auto;
                        display: flex;
                        justify-self: center;
                    }
                }
            }
            ul {
                list-style-type: none;
                padding-top: 0.5rem;

                li {
                    padding-bottom: 0.8rem;
                    margin-bottom: 0.2rem;
                    overflow: hidden;
                    transition: background-color 0.5s ease-in-out,
                        color 0.5s ease-in-out, transform 0.5s ease-in-out;

                    @include media-queries.tablet {
                        padding-bottom: 0.8rem;
                        margin-bottom: 0.2rem;
                    }

                    a {
                        @include mixins.sidebar-enlace;
                        width: 80%;
                        // Los <a> por defecto traen un display de tipo inline
                        display: block;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        border-top-right-radius: 50px;
                        border-bottom-right-radius: 50px;
                        &:hover,
                        &.activo {
                            background-color: modulo.$color-botones;
                            color: modulo.$color-primario;
                            font-weight: bold;
                        }

                        @include media-queries.tablet {
                            padding-top: 0.8rem;
                            padding-bottom: 0.8rem;
                        }
                    }
                }
            }
        }

        .sidebar-parametros {
            ul {
                list-style-type: none;
                padding-top: 1rem;
                li {
                    padding-bottom: 1rem;
                    a {
                        @include mixins.sidebar-enlace;
                        &:hover {
                            color: modulo.$iconos;
                            font-weight: 500;
                            text-decoration: underline;
                            text-decoration-color: modulo.$iconos;
                        }
                    }
                }
            }
        }
    }

    .sidebar.visible {
        width: 40%;
        transform: translate(0);
        top: 10vh;
        position: fixed;
    }

    // Estilos del main
    main {
        background-color: modulo.$background;
        width: 78%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 22%;

        @include media-queries.tablet {
            margin-left: 0;
            margin-top: 10vh;
            width: 100%;
        }

        @include media-queries.mobile {
            margin-left: 0;
            margin-top: 10vh;
            width: 100%;
        }

        // Panel de control
        .panel-de-control {
            display: flex;
            justify-content: center;
            width: 90%;

            .panel-control-ayuda {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                height: 80px;
                background-color: modulo.$color-primario;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;

                .btn-panel {
                    @include mixins.botones-menu;
                }

                #panel-ajustes,
                #panel-logout {
                    font-size: 28px;
                    color: modulo.$color-secundario;
                    padding-right: 1.2rem;

                    &:hover {
                        color: modulo.$iconos;
                    }
                }
            }

            @include media-queries.tablet {
                display: none;
            }

            @include media-queries.mobile {
                display: none;
            }
        }

        .contenidos {
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 90%;
            height: auto;
            background-color: red;
            font-size: 60px;
        }
    }
}

// Estilos de Login y Register
.layout-login-register {
    background-image: url(/public/images/background_patron_foodies.png);
    background-repeat: repeat;
    background-size: 500px 500px;

    .layout-inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(252, 254, 243, 0.7);
        min-height: 100vh;
        font-family: "Nunito", "Arial";

        header {
            height: 15vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
           

            @include media-queries.tablet {
               min-height: auto;
            }

            @include media-queries.mobile {
                 min-height: auto;
            }

            .image-logo {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100px;
                width: 170px;

                img {
                    width: 100%;
                }

                .especificacion {
                    color: modulo.$iconos;
                    font-weight: 800;
                    font-size: 13px;
                    width: 100%;
                    padding-left: 3.5rem;

                    margin-top: -10px;
                }
            }
        }

        .background-section {
            background-color: modulo.$color-primario;
            height: 73vh;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 2rem 1rem;

            @include media-queries.tablet {
                flex-direction: column;
                align-items: center;
                height: auto;
            }

            @include media-queries.mobile {
                flex-direction: column;
                align-items: center;
                height: auto;
            }

            .fondo-formulario {
                background-color: modulo.$color-fondo-formulario;
                width: 22%;
                border-radius: 30px;
                display: flex;
                align-items: end;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                margin-right: -40px;
                padding: 1.5rem;

                @include media-queries.tablet {
                    background-color: transparent;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin: 0;
                    padding: 0rem 0.8rem 0.8rem 0.8rem;
                    width: 55%;
                }

                @include media-queries.mobile {
                    background-color: transparent;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin: 0;
                    padding: 0rem 0.8rem 0.8rem 0.8rem;
                    width: 55%;
                }

                .titulo-bienvenida h3 {
                    font-size: 22px;
                    width: 40%;
                    color: modulo.$color-secundario;

                    @include media-queries.tablet {
                        width: 100%;
                    }

                    @include media-queries.mobile {
                        padding: 0;
                        width: 100%;
                    }
                }
            }

            .contenedor-formulario {
                background-image: url(/public/images/Fondos-formularios-fd/Fondo_formularios_1.png);
                background-size: 400px 400px;
                width: 22%;
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1.5rem 2rem;

                @include media-queries.tablet {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    width: 50%;
                }

                @include media-queries.mobile {
                    flex-direction: column;
                    align-items: center;
                    align-items: center;
                    text-align: center;
                    width: 70%;
                }

                .titulo-fondo-formulario {
                    font-weight: 800;
                    font-size: 28px;
                    color: modulo.$iconos;
                }

                .formulario-lr {
                    width: 100%;
                    .formulario-login-users {
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 0.5rem;

                        label {
                            font-weight: bolder;
                            color: modulo.$color-texto;
                            margin-bottom: 0.3rem;
                            text-align: start;
                        }

                        input {
                            border: 0;
                            border-radius: 5px;
                            background-color: modulo.$input-background;
                            width: 100%;
                            padding: 0.5rem;
                            height: 2rem;
                            width: 100%;
                        }
                    }

                    .button-formulario {
                        margin-top: 1rem;
                        display: flex;
                        justify-self: center;
                        @include mixins.botones-formularios;
                    }
                }
            }

            // Configuraciones para los logins 
            .contenedor-login {
                padding-top: 2rem;
                padding-bottom: 2rem;

                @include media-queries.tablet {
                    padding-top: 3rem;
                    padding-bottom: 3rem;
                }

                @include media-queries.mobile {
                    padding-top: 6rem;
                    padding-bottom: 6rem;
                }
            }
        }

        footer {
            height: 12vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .redireccion-restaurantes {
                p {
                    font-size: 1rem;
                }

                .enlace-restaurantes {
                    text-decoration: none;
                    color: modulo.$iconos;
                    font-weight: 800;

                    &:hover {
                        text-decoration: underline modulo.$iconos 2px;
                    }
                }
            }
        }
    }
}

// Diseño Landing 


.landing-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    background-color: modulo.$background;
    font-family: modulo.$tipografia-foodies;


    .landing-bar {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: modulo.$color-primario;
        padding: 0.5rem 8rem;

        .landing-logo-bar {
            a {
                img {
                    height: 80px;
                }
            }
        }
        .landing-texto-bar {
            a {
                text-decoration: none;
                color: modulo.$iconos;
                font-weight: 700;
                // background-color: modulo.$color-botones;
                // padding: 1rem;
                // border-radius: 10px;
            }

            .inicio-sesion {
                margin-right: 1rem;
            }

            
        }
    }

    .landing-main {
        display: flex;
        flex-direction: row;
        padding: 0rem 5rem;
       

        .texto-main {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 3rem;

            .slogan-main {
                font-family:"Quicksand";
                font-size: 100px;
                font-weight: bold;
                //-webkit-text-stroke: 1px modulo.$iconos;
                width: 80%;
                color: modulo.$color-primario;

                .enfasis {
                    font-family: "Courgette";
                    color: modulo.$iconos;
                }
            }

            .description-main {
                font-size: 20px;
                width: 80%;
                font-weight: 600;
                color: modulo.$color-primario;
            }
        }
        .ilustracion-main {
            width: 50%;
            display: flex;
            align-items: center;

            img {
                height: 100%;
            }
        }
    }

    .landing-footer {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 2rem 2rem;
        text-align: center;
        background-color: modulo.$color-primario;

        div {
            p {
                color: modulo.$color-secundario;

                a {
                    text-decoration: none;
                    color: modulo.$color-secundario;

                    &:hover {
                        color: modulo.$color-botones;
                    }
                }
            }
        }
    }
}