@import "@fortawesome/fontawesome-free/css/all.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.componentes-principales {
  display: flex;
  box-sizing: border-box;
  position: relative;
}
@media screen and (max-width: 992px) {
  .componentes-principales {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  .componentes-principales {
    flex-direction: column;
  }
}
.componentes-principales .menu-hamburguesa {
  display: flex;
  background-color: #2c3143;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
}
@media screen and (max-width: 992px) {
  .componentes-principales .menu-hamburguesa {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
  }
}
@media screen and (max-width: 576px) {
  .componentes-principales .menu-hamburguesa {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
  }
}
@media screen and (min-width: 992px) {
  .componentes-principales .menu-hamburguesa {
    display: none;
  }
}
.componentes-principales .menu-hamburguesa .menu-hamburguesa-ayuda #boton-ajustes {
  margin-right: 0.8rem;
}
.componentes-principales .menu-hamburguesa .btn-menu {
  background: none;
  border: none;
}
.componentes-principales .menu-hamburguesa #boton-hamburguesa,
.componentes-principales .menu-hamburguesa #hamburguesa-ajustes,
.componentes-principales .menu-hamburguesa #hamburguesa-logout {
  font-size: 1.8rem;
  color: #f27d16;
  transition: color 0.6s ease-in-out;
}
.componentes-principales .menu-hamburguesa #boton-hamburguesa:hover,
.componentes-principales .menu-hamburguesa #hamburguesa-ajustes:hover,
.componentes-principales .menu-hamburguesa #hamburguesa-logout:hover {
  color: #fcfef3;
}
.componentes-principales .sidebar {
  background-color: #2c3143;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22%;
  height: 100vh;
  font-family: "Nunito";
  font-weight: 600;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  padding-bottom: 1rem;
  z-index: 1000;
  position: fixed;
}
@media screen and (min-width: 992px) {
  .componentes-principales .sidebar {
    transform: translate(0);
  }
}
@media screen and (max-width: 576px) {
  .componentes-principales .sidebar {
    top: 0;
    height: 92vh;
    position: absolute;
  }
}
@media screen and (max-width: 992px) {
  .componentes-principales .sidebar {
    top: 0;
    height: 92vh;
    position: absolute;
  }
}
.componentes-principales .sidebar .sidebar-contenidos .logo-foodies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 1rem;
  padding: 0.8rem 0.8rem 0 0.8rem;
}
@media screen and (max-width: 992px) {
  .componentes-principales .sidebar .sidebar-contenidos .logo-foodies {
    margin: 0;
    padding: 0;
  }
}
.componentes-principales .sidebar .sidebar-contenidos .logo-foodies .img-logo-foodies {
  width: 75%;
  height: auto;
}
@media screen and (max-width: 992px) {
  .componentes-principales .sidebar .sidebar-contenidos .logo-foodies .img-logo-foodies {
    margin: 0;
    width: 50%;
    height: auto;
    display: flex;
    justify-self: center;
  }
}
.componentes-principales .sidebar .sidebar-contenidos ul {
  list-style-type: none;
  padding-top: 0.5rem;
}
.componentes-principales .sidebar .sidebar-contenidos ul li {
  padding-bottom: 0.8rem;
  margin-bottom: 0.2rem;
  overflow: hidden;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out;
}
@media screen and (max-width: 992px) {
  .componentes-principales .sidebar .sidebar-contenidos ul li {
    padding-bottom: 0.8rem;
    margin-bottom: 0.2rem;
  }
}
.componentes-principales .sidebar .sidebar-contenidos ul li a {
  color: #fcfef3;
  padding-left: 40px;
  text-decoration: none;
  width: 80%;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.componentes-principales .sidebar .sidebar-contenidos ul li a:hover, .componentes-principales .sidebar .sidebar-contenidos ul li a.activo {
  background-color: #ffb136;
  color: #2c3143;
  font-weight: bold;
}
@media screen and (max-width: 992px) {
  .componentes-principales .sidebar .sidebar-contenidos ul li a {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
}
.componentes-principales .sidebar .sidebar-parametros ul {
  list-style-type: none;
  padding-top: 1rem;
}
.componentes-principales .sidebar .sidebar-parametros ul li {
  padding-bottom: 1rem;
}
.componentes-principales .sidebar .sidebar-parametros ul li a {
  color: #fcfef3;
  padding-left: 40px;
  text-decoration: none;
}
.componentes-principales .sidebar .sidebar-parametros ul li a:hover {
  color: #f27d16;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #f27d16;
}
.componentes-principales .sidebar.visible {
  width: 40%;
  transform: translate(0);
  top: 10vh;
  position: fixed;
}
.componentes-principales main {
  background-color: #e9e8df;
  width: 78%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 22%;
}
@media screen and (max-width: 992px) {
  .componentes-principales main {
    margin-left: 0;
    margin-top: 10vh;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .componentes-principales main {
    margin-left: 0;
    margin-top: 10vh;
    width: 100%;
  }
}
.componentes-principales main .panel-de-control {
  display: flex;
  justify-content: center;
  width: 90%;
}
.componentes-principales main .panel-de-control .panel-control-ayuda {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
  background-color: #2c3143;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.componentes-principales main .panel-de-control .panel-control-ayuda .btn-panel {
  background: none;
  border: none;
}
.componentes-principales main .panel-de-control .panel-control-ayuda #panel-ajustes,
.componentes-principales main .panel-de-control .panel-control-ayuda #panel-logout {
  font-size: 28px;
  color: #fcfef3;
  padding-right: 1.2rem;
}
.componentes-principales main .panel-de-control .panel-control-ayuda #panel-ajustes:hover,
.componentes-principales main .panel-de-control .panel-control-ayuda #panel-logout:hover {
  color: #f27d16;
}
@media screen and (max-width: 992px) {
  .componentes-principales main .panel-de-control {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .componentes-principales main .panel-de-control {
    display: none;
  }
}
.componentes-principales main .contenidos {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  height: auto;
  background-color: red;
  font-size: 60px;
}

.layout-login-register {
  background-image: url(/public/images/background_patron_foodies.png);
  background-repeat: repeat;
  background-size: 500px 500px;
}
.layout-login-register .layout-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 254, 243, 0.7);
  min-height: 100vh;
  font-family: "Nunito", "Arial";
}
.layout-login-register .layout-inicio header {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .layout-login-register .layout-inicio header {
    min-height: auto;
  }
}
@media screen and (max-width: 576px) {
  .layout-login-register .layout-inicio header {
    min-height: auto;
  }
}
.layout-login-register .layout-inicio header .image-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 170px;
}
.layout-login-register .layout-inicio header .image-logo img {
  width: 100%;
}
.layout-login-register .layout-inicio header .image-logo .especificacion {
  color: #f27d16;
  font-weight: 800;
  font-size: 13px;
  width: 100%;
  padding-left: 3.5rem;
  margin-top: -10px;
}
.layout-login-register .layout-inicio .background-section {
  background-color: #2c3143;
  height: 73vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}
@media screen and (max-width: 992px) {
  .layout-login-register .layout-inicio .background-section {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .layout-login-register .layout-inicio .background-section {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}
.layout-login-register .layout-inicio .background-section .fondo-formulario {
  background-color: #5D616B;
  width: 22%;
  border-radius: 30px;
  display: flex;
  align-items: end;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: -40px;
  padding: 1.5rem;
}
@media screen and (max-width: 992px) {
  .layout-login-register .layout-inicio .background-section .fondo-formulario {
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0rem 0.8rem 0.8rem 0.8rem;
    width: 55%;
  }
}
@media screen and (max-width: 576px) {
  .layout-login-register .layout-inicio .background-section .fondo-formulario {
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0rem 0.8rem 0.8rem 0.8rem;
    width: 55%;
  }
}
.layout-login-register .layout-inicio .background-section .fondo-formulario .titulo-bienvenida h3 {
  font-size: 22px;
  width: 40%;
  color: #fcfef3;
}
@media screen and (max-width: 992px) {
  .layout-login-register .layout-inicio .background-section .fondo-formulario .titulo-bienvenida h3 {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .layout-login-register .layout-inicio .background-section .fondo-formulario .titulo-bienvenida h3 {
    padding: 0;
    width: 100%;
  }
}
.layout-login-register .layout-inicio .background-section .contenedor-formulario {
  background-image: url(/public/images/Fondos-formularios-fd/Fondo_formularios_1.png);
  background-size: 400px 400px;
  width: 22%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
}
@media screen and (max-width: 992px) {
  .layout-login-register .layout-inicio .background-section .contenedor-formulario {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .layout-login-register .layout-inicio .background-section .contenedor-formulario {
    flex-direction: column;
    align-items: center;
    align-items: center;
    text-align: center;
    width: 70%;
  }
}
.layout-login-register .layout-inicio .background-section .contenedor-formulario .titulo-fondo-formulario {
  font-weight: 800;
  font-size: 28px;
  color: #f27d16;
}
.layout-login-register .layout-inicio .background-section .contenedor-formulario .formulario-lr {
  width: 100%;
}
.layout-login-register .layout-inicio .background-section .contenedor-formulario .formulario-lr .formulario-login-users {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}
.layout-login-register .layout-inicio .background-section .contenedor-formulario .formulario-lr .formulario-login-users label {
  font-weight: bolder;
  color: #4e515a;
  margin-bottom: 0.3rem;
  text-align: start;
}
.layout-login-register .layout-inicio .background-section .contenedor-formulario .formulario-lr .formulario-login-users input {
  border: 0;
  border-radius: 5px;
  background-color: #e6e8df;
  width: 100%;
  padding: 0.5rem;
  height: 2rem;
  width: 100%;
}
.layout-login-register .layout-inicio .background-section .contenedor-formulario .formulario-lr .button-formulario {
  margin-top: 1rem;
  display: flex;
  justify-self: center;
  border: none;
  background-color: #ffb136;
  font-family: "Nunito", "Arial";
  font-weight: 800;
  font-size: 18px;
  padding: 0.8rem;
  border-radius: 10px;
}
.layout-login-register .layout-inicio .background-section .contenedor-login {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (max-width: 992px) {
  .layout-login-register .layout-inicio .background-section .contenedor-login {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 576px) {
  .layout-login-register .layout-inicio .background-section .contenedor-login {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.layout-login-register .layout-inicio footer {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.layout-login-register .layout-inicio footer .redireccion-restaurantes p {
  font-size: 1rem;
}
.layout-login-register .layout-inicio footer .redireccion-restaurantes .enlace-restaurantes {
  text-decoration: none;
  color: #f27d16;
  font-weight: 800;
}
.layout-login-register .layout-inicio footer .redireccion-restaurantes .enlace-restaurantes:hover {
  -webkit-text-decoration: underline #f27d16 2px;
          text-decoration: underline #f27d16 2px;
}/*# sourceMappingURL=app.css.map */